{% extends 'base.html.twig' %}

{% block title %}Edit Pimento
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<h1 class="my-5 text-dark text-center fw-bolder">Modifier une référence</h1>

			{{ include('pimento/_form.html.twig', {'button_label': 'Update'}) }}
			
		</div>
	</div>
{% endblock %}
