{% extends 'base.html.twig' %}

{% block title %}New Pimento{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Ajouter un piment au catalogue</h1>

    {{ include('pimento/_form.html.twig') }}
{% endblock %}
