{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent()}}
{% endblock %}

{% block title %}Wild Pimentos
{% endblock %}


{% block body %}
	<div class="has-bg-img">
		<h1 class="text-center mt-5 fw-bolder h1 text-dark" {{ stimulus_controller('symfony/ux-typed', { strings: [ 'Hola amigo !', 'Bienvenido !', 'Si te gustan los pimientos...', 'Este sitio es tuyo !', ], loop: true, showCursor: true, cursorChar: '✨', } ) }}></h1>
		<img class="bg-img w-100" src="{{ asset('build/images/pimientas.jpg.webp') }}" alt="pimientas">
	</div>
{% endblock %}
