<form method="post" action="{{ path('pimento_delete', {'id': pimento.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pimento.id) }}">
    <button class="btn">Delete</button>
</form>
