{% extends 'base.html.twig' %}

{% block title %}Edit Pimento{% endblock %}

{% block body %}
    <h1>Edit Pimento</h1>

    {{ include('pimento/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pimento_index') }}">back to list</a>

    {{ include('pimento/_delete_form.html.twig') }}
{% endblock %}
