<div class="container bg-primary w-100">
  <footer class="pt-3 my-1">
    <ul class="nav justify-content-center border-bottom pb-1 mb-3">
      <li class="nav-item h6"><a href="{{ path('pimento_index') }}" class="nav-link px-2 text-muted">Accueil</a></li>
      <li class="nav-item h6"><a href="#" class="nav-link px-2 text-muted">Partenaires</a></li>
      <li class="nav-item h6"><a href="#" class="nav-link px-2 text-muted">Prix</a></li>
      <li class="nav-item h6"><a href="#" class="nav-link px-2 text-muted">FAQ</a></li>
      <li class="nav-item h6"><a href="#" class="nav-link px-2 text-muted">A propos</a></li>
    </ul>
    <p class="text-center text-muted h6 pt-1">2023 - Aïe Pimento !</p>
  </footer>
</div>